datadog:
  site: "us5.datadoghq.com"
  apiKeyExistingSecret: "datadog-secret"
  apm:
    instrumentation:
      enabled: true
      targets:
        - name: "default-target"
          ddTraceVersions:
            python: "3"
            js: "5"
  logs:
    enabled: true
    containerCollectAll: true
    containerCollectUsingFiles: true

  processAgent:
    processCollection: true

  clusterName: talos-k8s

  operator:
    enabled: false

  kubelet:
    tlsVerify: false

  ignoreAutoConfig:
    - cilium

providers:
  talos:
    enabled: true

  